h1{
    color:maroon;
}

.post{
    height:170px;
    border-radius:15px;
    width:300px;
    margin:10px;
    padding:10px;
    background-color: blanchedalmond;
    border:2px solid black;
}

.user{
    font-style: italic;
    font-size: 22px;
}
a{
    text-decoration: none;
}
