body {
font-family: Arial;
}

#mainImg {
width: 35%;
}
.Green{
color: green;
}
.box {
border: 0.25px solid black;
background-color: lightgray;
width: 200px;
padding: 1rem;
}

.boxLink {
text-decoration: none;
}

.oldImg {
height: 200px;
width: 200px;
margin-right: 1rem;
}

#description {
background-color: antiquewhite;
font-family: Arial, Helvetica, sans-serif;
}
.red{
    color:red;
}
.blue{
    color:blue;
}
.border{
    border: 1px solid black ;
    background-color:pink;
}