<%- include("inclues/head.ejs") %>

<body>
    <h1>This is the Home page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quam consequuntur a molestiae. Cumque corrupti pariatur laboriosam blanditiis? Distinctio possimus inventore consequatur repellendus aliquid error voluptates eveniet blanditiis sequi debitis?</p>
    <h3>
        <%= 1+2 %>
    </h3>
    <button >Click me</button>
    <%- include("inclues/footer.ejs")%>
</body>
</html>