<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chats</title>
</head>
<body>
    <h3>Write new chat</h3>
    <form method="POST"action="/chats">
        <input type="text" placeholder="Who are you?" name="from"><br><br>
        <textarea name="msg"placeholder="Write your text here.."></textarea><br><br>
        <input placeholder="add receicer"name="to"><br><br>
        <button>Create chat</button>
    </form>
    
</body>
</html>