div {
    border : 2px solid black;
    background-color: rgb(255, 255, 255);
    width:400px;
    
    
    border-top: 5px;
    border-radius: 25px;
    padding: 1%;
    border-style: solid;
    /* padding:top|right|down|left --  clockwise*/
    /* margin will set the space between two border */
    margin-bottom: 10px;
    margin-right: 10px;
}
h1{
    border-width: 3px;
    width: 200px;
    border-style: solid;
    border-radius: 3%;
    
}
button{
    border-radius:4px;
    background-color: rgb(224, 196, 14);
}
h2{
    display:inline;
}
span{
    display:block;
}
